/*CSS Reset*/
/*#region*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*#endregion*/

/*Color Scheme*/
:root {
  --primary-bg-color: hsl(103, 100%, 82%);
  --spot-border-color: hsl(0, 0%, 0%);
  --spot-border-color-subtle: hsl(0, 0%, 45%);
  --player-one-bg-color: hsl(240, 80%, 80%);
  --player-two-bg-color: hsl(0, 80%, 80%);
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template: 10vh 50vh 20vh 20vh / 1fr;
  grid-template-areas:
    "header"
    "game"
    "log"
    "player-info";
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template: 2fr 1fr / 1fr;
  grid-template-areas:
    "title"
    "author";
  justify-items: center;
  align-items: center;
}

.header .title {
  grid-area: title;
  font-size: 2rem;
  font-weight: bold;
  align-self: end;
}

.header .author {
  grid-area: author;
  font-size: 0.75rem;
  align-self: start;
}

.game {
  grid-area: game;
  display: grid;
  grid-template: 1fr / 1fr;
  justify-items: center;
  box-sizing: border-box;
}

.game .board {
  --spot-border-size: 4px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-template-areas:
    "r1c1 r1c2 r1c3"
    "r2c1 r2c2 r2c3"
    "r3c1 r3c2 r3c3";
  box-sizing: border-box;
  justify-items: center;
  align-items: center;

  width: 80vw;
  aspect-ratio: 1/1;
  background-color: var(--primary-bg-color);
}

.board .spot {
  display: grid;
  justify-items: center;
  align-items: center;
  border: var(--spot-border-size) solid var(--spot-border-color);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.board .mark {
  max-height: 80%;
  max-width: 80%;
  box-sizing: border-box;
}

.board .spot0 {
  grid-area: r1c1;
  border-left: var(--spot-border-size) solid var(--spot-border-color-subtle);
  border-top: var(--spot-border-size) solid var(--spot-border-color-subtle);
}

.board .spot1 {
  grid-area: r1c2;
  border-top: var(--spot-border-size) solid var(--spot-border-color-subtle);
}

.board .spot2 {
  grid-area: r1c3;
  border-top: var(--spot-border-size) solid var(--spot-border-color-subtle);
  border-right: var(--spot-border-size) solid var(--spot-border-color-subtle);
}

.board .spot3 {
  grid-area: r2c1;
  border-left: var(--spot-border-size) solid var(--spot-border-color-subtle);
}

.board .spot4 {
  grid-area: r2c2;
}

.board .spot5 {
  grid-area: r2c3;
  border-right: var(--spot-border-size) solid var(--spot-border-color-subtle);
}

.board .spot6 {
  grid-area: r3c1;
  border-left: 5px solid var(--spot-border-color-subtle);
  border-bottom: 5px solid var(--spot-border-color-subtle);
}

.board .spot7 {
  grid-area: r3c2;
  border-bottom: 5px solid var(--spot-border-color-subtle);
}

.board .spot8 {
  grid-area: r3c3;
  border-right: 5px solid var(--spot-border-color-subtle);
  border-bottom: 5px solid var(--spot-border-color-subtle);
}

.log {
  grid-area: log;
  display: grid;
  justify-items: center;
  align-items: start;
}

.log .text-area p {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  line-height: 3rem;
  white-space: pre-wrap;
}

.log .text-area p.hidden {
  display: none;
}

.log .player-change {
  display: grid;
  grid-template: 1fr / 1fr 4fr;
  height: 50%;
  width: 50%;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.log .player-change label {
  align-self: center;
  justify-self: center;
}

.log .player-change input {
  height: 70%;
  width: 80%;
  align-self: center;
  justify-self: end;
  border-radius: 10px;
}

.log .player-change.player-one {
  background-color: var(--player-one-bg-color);
}

.log .player-change.player-two {
  background-color: var(--player-two-bg-color);
}

.log .player-change.hidden {
  display: none;
}

.player-info {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  padding: 0px 20px;
}

.player-info .player-label {
  display: grid;
  grid-template: 2fr 1fr / 1fr;
  width: 80%;
  height: 50%;
  align-items: center;
  border-radius: 20px;
}

.player-info .player-one {
  background-color: var(--player-one-bg-color);
}

.player-info .player-one.is-active {
  border: 3px solid black;
}

.player-info .player-two {
  background-color: var(--player-two-bg-color);
  justify-self: end;
}

.player-info .player-two.is-active {
  border: 3px solid black;
}

.player-info .name {
  justify-self: center;
  font-size: 1.1rem;
}

.player-info .wins {
  justify-self: center;
}

@media only screen and (min-width: 580px) {
  .container {
    /*Change grid*/
  }

  .game .board {
    height: 80%;
    width: auto;
  }
}

@media only screen and (min-width: 900px) {
  .player-info {
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    grid-template-areas: ". label-one label-two .";
  }

  .player-info .player-label {
    max-width: 15vw;
    justify-self: center;
  }

  .player-info .player-label.player-one {
    grid-area: label-one;
  }

  .player-info .player-label.player-two {
    grid-area: label-two;
  }
}
