/*CSS Reset*/
/*#region*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*#endregion*/

/*Color Scheme*/
:root {
  --primary-bg-color: hsl(69, 75%, 40%);
}

body {
  height: 100vh;
}

.container {
  display: grid;
  grid-template: 10vh 60vh 20vh 10vh / 1fr;
  grid-template-areas:
    "header"
    "game"
    "log"
    "player-info";
}

.header {
}

.game {
  grid-area: game;
  display: grid;
  justify-content: center;
}

.game .board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-template-areas:
    "r1c1 r1c2 r1c3"
    "r2c1 r2c2 r2c3"
    "r3c1 r3c2 r3c3";
  min-width: 80vw;
  aspect-ratio: 1/1;
  background-color: var(--primary-bg-color);
}

.board .spot1 {
  grid-area: r1c1;
}

.board .spot2 {
  grid-area: r1c2;
}

.board .spot3 {
  grid-area: r1c3;
}

.board .spot4 {
  grid-area: r2c1;
}

.board .spot5 {
  grid-area: r2c2;
}

.board .spot6 {
  grid-area: r2c3;
}

.board .spot7 {
  grid-area: r3c1;
}

.board .spot8 {
  grid-area: r3c2;
}

.board .spot9 {
  grid-area: r3c3;
}

.log {
}

.player-info {
}
